
#head{
    /* border: 2px solid black; */
    text-align: center;
}
header{
    border: 2px solid black;
}

nav ul {
    display: flex;
    padding-left: 35%;
}

nav li{
    
    list-style: none;
    margin-right: 80px;
}
nav li a{
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: grey;
}

article{

    padding: 10px;
    display: block;
    border: 2px solid black;
}

/* for form */
form{
    border: 2px solid black;
    padding:10px;
}
h1{
    text-align: center;
    border: 2px solid black;
}
label{
    display: block;
    margin-top: 5px;
}
#reset{
    margin-top: 5px;
}
legend{
    text-align: center;
}

/* for table */
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid grey;
    text-align: center;
    padding: 5px;
}